#----------------------------------------------------------------------------------------------------------------------------------
# ℹ️ Forge :: General configuration options for the application
#----------------------------------------------------------------------------------------------------------------------------------
# The name of the application, used for branding and display purposes
NEXT_PUBLIC_APP_NAME="scode"
# The current environment the app is running in
NEXT_PUBLIC_APP_ENV="development"
# The current version of the application
NEXT_PUBLIC_APP_VERSION="0.0.1"
# Debug mode flag, typically used to enable verbose logging or dev-only features
NEXT_PUBLIC_APP_DEBUG="true"

#----------------------------------------------------------------------------------------------------------------------------------
# ℹ️ Forge :: URL configuration options for the application
#----------------------------------------------------------------------------------------------------------------------------------
# The base domain/host of the application (without protocol)
NEXT_PUBLIC_APP_DOMAIN="selcukcukur.dev"
# The base URL of the application, used for routing, API calls, and client-server communication
NEXT_PUBLIC_APP_URL="https://selcukcukur.dev"
# The base URL for serving static assets such as images, fonts, and scripts
NEXT_PUBLIC_APP_ASSET_URL="https://selcukcukur.dev"
# The base URL for accessing user-uploaded content and persistent storage resources
NEXT_PUBLIC_APP_STORAGE_URL="https://selcukcukur.dev"

#----------------------------------------------------------------------------------------------------------------------------------
# ℹ️ Forge :: Localization configuration options for the application
#----------------------------------------------------------------------------------------------------------------------------------
# The default application language
NEXT_PUBLIC_APP_LANGUAGE="en"
# The default application currency
NEXT_PUBLIC_APP_CURRENCY="USD"
# The default application timezone
NEXT_PUBLIC_APP_TIMEZONE="UTC"
