@theme {
  /* Palette (Theme) */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Palette (Accents) */
  --color-accents-1: var(--accents-1);
  --color-accents-2: var(--accents-2);
  --color-accents-3: var(--accents-3);
  --color-accents-4: var(--accents-4);
  --color-accents-5: var(--accents-5);
  --color-accents-6: var(--accents-6);
  --color-accents-7: var(--accents-7);
  --color-accents-8: var(--accents-8);

  /* Palette (Card) */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Palette (Popover) */
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* Palette (Primary) */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Palette (Secondary) */
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Palette (Muted) */
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /* Palette (Accent) */
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  /* Palette (Destructive) */
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* Palette (Other) */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Palette (Chart) */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Palette (Sidebar) */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
